
<header>
  <div class="container">
    <h1 class="ucase">Специальности:</h1>
  </div>
</header>
<section class="specialty-list">
  <div class="specialty-list__body container">
    <div class="specialty-list__inner">
      <div ng-repeat="item in ::specs" ui-sref="specialties.item({id: item.id})" class="specialty-list__item">
        <div class="specialty-list-item">
          <div class="specialty-list-item__title">{{::item.name}}</div>
          <div ng-bind-html="::item.hint" class="specialty-list-item__description"></div>
        </div>
      </div>
    </div>
  </div>
</section>