<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Навчальний план</title>
    <link rel="stylesheet" href="/s/css/style.css">
  </head>
  <body>
    <main ng-app="application" class="root">
      <div class="root__inner">
        <div state-pending-class="is-active" class="root__loading"></div>
        <div ui-view="body" class="root__body"></div>
        <div class="root__footer">
          <div class="container">
            <div class="row">
              <div class="col w6--sm">&copy; {% now "Y" %}. Навчальний план.</div>
              <div class="col w6--sm ta-r">Розробив:<a href="https://github.com/preusx" target="_blank">Олексій Ткаченко</a></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/s/vendor/jquery/jquery.min.js"></script>
    <script src="/s/vendor/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="/s/vendor/jquery.transform.js/jquery.transform2d.js"></script>
    <script src="/s/vendor/raphael/raphael-min.js"></script>
    <script src="/s/vendor/transformation-matrix-js/matrix.min.js"></script>
    <script src="/s/vendor/angular/angular.min.js"></script>
    <script src="/s/vendor/angular-cookies/angular-cookies.min.js"></script>
    <script src="/s/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/s/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/s/vendor/angular-route/angular-route.min.js"></script>
    <script src="/s/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/s/js/main.js"></script>
  </body>
</html>