
<header>
  <div class="container">
    <div class="centered w5--sm w4--md w3--lg">
      <h5 class="h--5 h--clean h--light h__secondary"><a ui-sref="specialties" class="fw-bold">&hellip;</a> /&nbsp;<a history-back="" class="fw-bold">&larr;</a> /&nbsp;Вхід:
      </h5>
    </div>
  </div>
</header>
<section class="login-form">
  <div class="container">
    <div class="centered w5--sm w4--md w3--lg">
      <form ng-submit="AuthCtrl.submit()" class="form">
        <label class="form-field">
          <div class="form-field__label">Номер учнівського:</div>
          <input name="username" ng-model="AuthCtrl.loginData.username" required="" class="form-field__input"/>
        </label>
        <label class="form-field">
          <div class="form-field__label">Прізвище:</div>
          <input type="text" name="password" ng-model="AuthCtrl.loginData.password" required="" class="form-field__input"/>
        </label>
        <div class="form-controls form-controls--right">
          <button type="submit" class="button">Увійти</button>
        </div>
      </form>
    </div>
  </div>
</section>