
<header>
  <div class="container">
    <div class="current-user">
      <div ng-if="currentUser.id &gt; 0" class="current-user__body">
        <div class="current-user__line">Здрастуйте, {{(currentUser.profile.first_name + ' ' + currentUser.profile.last_name) | default:currentUser.username}}.</div>
        <div class="current-user__line"><a ui-sref="specialties">Головна</a>&nbsp;|&nbsp;<a ui-sref="user-list">Ваші шаблони</a>&nbsp;|&nbsp;<a href="/profile/auth/logout/">Вийти</a></div>
      </div>
      <div ng-if="!currentUser.id" class="current-user__body"><a ui-sref="auth">Увійдіть</a></div>
    </div>
    <h1 class="ucase">Спеціалізації:</h1>
  </div>
</header>
<section class="specialty-list">
  <div class="specialty-list__body container">
    <div class="specialty-list__inner">
      <div ng-repeat="item in ::specs" ui-sref="specialties.item({id: item.id})" class="specialty-list__item">
        <div class="specialty-list-item">
          <div class="specialty-list-item__title">{{::item.name}}</div>
          <div ng-bind-html="::item.hint" class="specialty-list-item__description"></div>
        </div>
      </div>
    </div>
  </div>
</section>