
<header>
  <div class="container">
    <div class="clearfix">
      <div class="current-user">
        <div ng-if="currentUser.id &gt; 0" class="current-user__body">
          <div class="current-user__line">Здрастуйте, {{(currentUser.profile.first_name + ' ' + currentUser.profile.last_name) | default:currentUser.username}}.</div>
          <div class="current-user__line"><a ui-sref="specialties">Головна</a>&nbsp;|&nbsp;<a ui-sref="user-list">Ваші шаблони</a>&nbsp;|&nbsp;<a href="/profile/auth/logout/">Вийти</a></div>
        </div>
        <div ng-if="!currentUser.id" class="current-user__body"><a ui-sref="auth">Увійдіть</a></div>
      </div>
      <h5 class="h--5 h--clean h--light h__secondary"><a ui-sref="specialties" class="fw-bold">&hellip;</a> /&nbsp;<a history-back="" class="fw-bold">&larr;</a> /&nbsp;користувацький шаблон спеціалізації:
      </h5>
    </div>
    <h1 class="h--big h--clean"><span class="specialty__inline">{{item.name}} <small class="h__secondary">({{::item.specialization_info.name}})</small></span></h1>
  </div>
</header>
<section>
  <div class="container">
    <form ng-submit="UserListCtrl.submit()" class="form">
      <label class="form-field">
        <div class="form-field__label">Назва:</div>
        <input name="name" ng-model="item.name" required="" class="form-field__input"/>
      </label>
      <label class="form-field">
        <div class="form-field__label">Опис:</div>
        <textarea name="description" ng-model="item.description" rows="7" class="form-field__input"></textarea>
      </label>
      <div select-list="">
        <h5 class="h--5 h--clean h--light h__secondary">Дисципліни <small class="h__secondary">(кредитів залишилось: {{UserListCtrl.disciplines.creditsLeft * 3}})</small>:</h5>
        <div class="row">
          <div class="col w6--sm">
            <div class="form-field">
              <div class="form-field__label">Список дисциплін:</div>
              <div class="form-field__input">
                <div class="form-list">
                  <div ng-repeat="disc in UserListCtrl.disciplines.list" class="form-list__item">
                    <div class="form-list__item__controls">
                      <div ng-click="UserListCtrl.addDiscipline($index)" class="button button--small button--primary">+</div>
                    </div>
                    <div class="form-list__item__title">{{disc.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col w6--sm">
            <div class="form-field">
              <div class="form-field__label">Вибрані дисципліни:</div>
              <div class="form-field__input">
                <div class="form-list">
                  <div ng-repeat="disc in UserListCtrl.disciplines.selected" class="form-list__item">
                    <div class="form-list__item__controls">
                      <div ng-click="UserListCtrl.removeDiscipline($index)" class="button button--small button--primary">-</div>
                    </div>
                    <div class="form-list__item__title">{{disc.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-controls">
        <button type="submit" class="button button--primary">Зберегти</button>
      </div>
    </form>
  </div>
</section>