
<section class="specialty">
  <div class="specialty__inner specialty__inner--map">
    <header class="specialty__header">
      <div class="container">
        <div class="clearfix">
          <div class="current-user">
            <div ng-if="currentUser.id &gt; 0" class="current-user__body">
              <div class="current-user__line">Здрастуйте, {{(currentUser.profile.first_name + ' ' + currentUser.profile.last_name) | default:currentUser.username}}.</div>
              <div class="current-user__line"><a ui-sref="specialties">Головна</a>&nbsp;|&nbsp;<a ui-sref="user-list">Ваші шаблони</a>&nbsp;|&nbsp;<a href="/profile/auth/logout/">Вийти</a></div>
            </div>
            <div ng-if="!currentUser.id" class="current-user__body"><a ui-sref="auth">Увійдіть</a></div>
          </div>
          <h5 class="h--5 h--clean h--light h__secondary"><a ui-sref="specialties" class="fw-bold">&hellip;</a> /&nbsp;<a history-back="" class="fw-bold">&larr;</a> /&nbsp;користувацький шаблон спеціалізації:
          </h5>
        </div>
        <h1 class="h--big h--clean"><span class="specialty__inline">{{data.name}} <small class="h__secondary">({{::spec.name}})</small></span><span style="float: right" ng-if="currentUser.id &gt; 0" class="h--big h--clean"><a ui-sref="user-list.item({id: data.id})" class="h__secondary">Редагувати &rarr;</a></span></h1>
      </div>
    </header>
    <section class="specialty__body">
      <div class="specialty-map">
        <div interact-parent="" class="specialty-map__inner">
          <div interact-object="" class="specialty-map__body">
            <div specialty-d-list="" class="specialty-map__container">
              <div specialty-d-list-map="" class="specialty-map__arrows"></div>
              <div class="specialty-map__table">
                <div class="specialty-table">
                  <div class="specialty-table__header">
                    <div class="specialty-table__cell">1 семестр
                    </div>
                    <div class="specialty-table__cell">2 семестр
                    </div>
                    <div class="specialty-table__cell">3 семестр
                    </div>
                    <div class="specialty-table__cell">4 семестр
                    </div>
                    <div class="specialty-table__cell">5 семестр
                    </div>
                    <div class="specialty-table__cell">6 семестр
                    </div>
                    <div class="specialty-table__cell">7 семестр
                    </div>
                    <div class="specialty-table__cell">8 семестр
                    </div>
                  </div>
                  <div class="specialty-table__header">
                    <div ng-repeat="weight in specialtyCtrl.sorted.weights track by $index" class="specialty-table__cell">{{weight * 3}} кр. / {{specialtyCtrl.sorted.discCount[$index]}} пр.</div>
                  </div>
                  <div ng-repeat="category in specialtyCtrl.categories" class="specialty-table__group">
                    <div class="specialty-table__group__label">{{category.name}}</div>
                    <div ng-repeat="discID in category.list" ng-init="disc = specialtyCtrl.sorted.discs[discID]" class="specialty-table__line">
                      <div style="                            width: {{160 * (disc.end - disc.start) / specialtyCtrl.sorted.width}}px;                            margin-left: {{160 * disc.start / specialtyCtrl.sorted.width}}px                          " specialty-d-list-item="{{disc.id}}" class="specialty-table__discipline-block">
                        <div class="specialty-table__discipline-block__title">{{disc.name}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>