
<header>
  <div class="container">
    <div class="current-user">
      <div ng-if="currentUser.id &gt; 0" class="current-user__body">Здравствуйте, {{(currentUser.profile.first_name + ' ' + currentUser.profile.last_name) | default:currentUser.username}}.<a ui-sref="user-list">Ваши списки.</a></div>
      <div ng-if="!currentUser.id" class="current-user__body"><a ui-sref="auth">Войдите</a></div>
    </div>
    <h5 class="h--5 h--clean h--light h__secondary"><a ui-sref="specialties" class="fw-bold">&hellip;</a> /&nbsp;<a history-back="" class="fw-bold">&larr;</a> /&nbsp;пользовательская вариация специальности:
    </h5>
    <h1 class="h--big h--clean"><span class="specialty__inline">{{item.name}} <small class="h__secondary">({{::item.speciality.name}})</small></span></h1>
  </div>
</header>
<section>
  <div class="container">
    <form ng-submit="UserListCtrl.submit()" class="form">
      <label class="form-field">
        <div class="form-field__label">Название:</div>
        <input name="name" ng-model="item.name" required="" class="form-field__input"/>
      </label>
      <label class="form-field">
        <div class="form-field__label">Описание:</div>
        <textarea name="description" ng-model="item.description" rows="7" class="form-field__input"></textarea>
      </label>
      <div select-list="">
        <h5 class="h--5 h--clean h--light h__secondary">Дисциплины <small class="h__secondary">(кредитов осталось: {{UserListCtrl.disciplines.creditsLeft * 3}})</small>:</h5>
        <div class="row">
          <div class="col w6--sm">
            <div class="form-field">
              <div class="form-field__label">Список дисциплин:</div>
              <div class="form-field__input">
                <div class="form-list">
                  <div ng-repeat="disc in UserListCtrl.disciplines.list" class="form-list__item">
                    <div class="form-list__item__controls">
                      <div ng-click="UserListCtrl.addDiscipline($index)" class="button button--small button--primary">+</div>
                    </div>
                    <div class="form-list__item__title">{{disc.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col w6--sm">
            <div class="form-field">
              <div class="form-field__label">Выбранные дисциплины:</div>
              <div class="form-field__input">
                <div class="form-list">
                  <div ng-repeat="disc in UserListCtrl.disciplines.selected" class="form-list__item">
                    <div class="form-list__item__controls">
                      <div ng-click="UserListCtrl.removeDiscipline($index)" class="button button--small button--primary">-</div>
                    </div>
                    <div class="form-list__item__title">{{disc.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-controls">
        <button type="submit" class="button button--primary">Сохранить</button>
      </div>
    </form>
  </div>
</section>